<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    {{ bootstrap.load_css() }}
    
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include "/fragments/navbar.html" %}
    {% block body %}{% endblock %}
    {% include "/fragments/footer.html" %}

    {{ bootstrap.load_js() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </body>
</html>